@page
@model IndexModel
@{
    ViewData["Title"] = "Joubert";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">buildings that dont fall down ASP.NET Core</a>.</p>
</div>
