@page
@model webapp.Pages.JoubertModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Joubert</title>
    <script src="js/site.js"></script>
    <script>
    var do_ping = function() {
        ping(document.getElementById('pingurl').value).then(function(delta) {
            alert(delta);
            localStorage.setItem("DELTA",delta);
        }).catch(function(error) {
            alert(String(error));
        });
    };
    </script>
</head>
<body>
    <input id='pingurl' type='text' value='http://abc.net.au'></input>
    <button onclick='do_ping()'>Ping</button>
    <br>
    <label for="stringName" class="cols-sm-2 control-label">@Html.Hidden("stringName", "")</label>
    <form id="form1">
        <div>
            <label for="status">Status</label>
        </div>
       
        <div>
            <input id="status1" type="text" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>

    <script> 
    $('#stringName').replaceWith(localStorage.getItem('DELTA'));
    </script>
</body>
</html>
